<!DOCTYPE html>
<html>
    <head th:replace="layout/plantilla :: head">
        <title>Contacto</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <section id="contenido">
            <h2>Pongase en contacto con nosotros</h2>
            <br>
            <form action="#" method="POST">
                <label>Nombre</label>
                <input placeholder="Nombre" type="text" name="Nombre" value="" size="20"/>
                <br>
                <label>Apellidos</label>
                <input placeholder="Apellidos" type="text" name="Apellidos" value="" size="30"/>
                <br>
                <label>Correo</label>
                <input placeholder="correo@abc.com" type="email" name="correo" value="" size="15" />
                <br>
                <label>Comentario</label>
                <input placeholder="Digite su comentario" type="text" name="comentario" value="" size="150" />
                <br>
                <input type="submit" value="Enviar" th:href="resultadoForm.html"/>
            </form>
    </body>
    <footer th:replace="layout/plantilla :: footer" />
</html>