<!DOCTYPE html>
<html>
    <head th:replace="layout/plantilla :: head">
        <title>Productos</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div id="contenido">
            <h2>Nuestros productos</h2>
            <br>
            <br>
            <div th:if="${productos != null and !productos.empty}">
                
                <table style="margin-left: auto; margin-right: auto;" border="1">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Existencias</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr th:each="item : ${productos}">
                            <td th:text="${item.nombre}"></td>
                            <td th:text="${item.descripcion}"></td>
                            <td th:text="${item.precio}"></td>
                            <td th:text="${item.existencias}"></td>
                            <td><a th:href="@{/}">Añadir al carrito</a></td><!--th:href="@{/productos/añadirCarrito/} + ${item.idProducto}"-->
                        </tr>
                    </tbody>
                </table>
                </div>
            
        </div>
    </body>
        <footer th:replace="layout/plantilla :: footer"/>
</html>