<!DOCTYPE html>
<html>
    <head th:replace="layout/plantilla :: head">
        <title>Productos</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <section th:replace="producto/fragmentosProducto :: botonesAgregar"/>
        <section th:replace="producto/fragmentosProducto :: searchBar"/>
        <section th:replace="producto/fragmentosProducto :: agregarProducto"/>
        <section th:replace="producto/fragmentosProducto :: listaProductos"/>
    </body>
    <footer th:replace="layout/plantilla :: footer"/>
</html>