* {
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 0% 20% 5%;
}

.header {
    background-color: #9BB8F2;
    height: 12%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;

}
.logo{
    font-size: 200%;
    font-weight: bold;
    padding: 0 5%;
    line-height: 12vh;
}

.nav-menu{
    display: flex;
    margin-left: 35%;
    list-style: none;
}

.nav-menu-item{
    font-size: 100%;
    margin: 10 10%;
    line-height: 12vh;
    position: relative;
}

.nav-menu-item:hover{
    background-color: navy;
    transition: 0.5s;
    position: relative;

}
.nav-menu-link{
    padding: 0px 8px;
    border-radius: 4px;
    position: relative;
    height: 0px 8px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.contenido {
    background-color: white;
    position: fixed;
    top: 20%;
    bottom: 20px;
    left: 0;
    width: 100%;
    color: black;
    overflow: auto;
    text-align: center;
}
.imagenLogo {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.titulo-productos{
    background-color: white;
    position: fixed;
    top: 10%;
    bottom: 20px;
    left: 0;
    width: 100%;
    color: black;
    overflow: auto;
}

.search-container{
    float: center;
}

.search-container button {
    
  float: center;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}