<!DOCTYPE html>
<html>
    <head>
        <title>Pagina Principal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/Estilos.css" rel="stylesheet" type="text/css"/>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <img class="imagenLogo" src="imagenes/logoSad2.png" alt="logo de el supermercado" width="100" height="90"/>
                <a th:href="@{/}" class="nav-link logo">SAD</a>

                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/informacion.html}">Informacion</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="Contacto.html">Contacto</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="fomulario.html">Carrito</a></li>
                </ul>
            </nav>
        </header>

        <section id="contenido">
            <h2>*Inserte codigo de productos aqui*</h2>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a th:href="@{/producto/lista}">Productos</a>

    </body>

    <footer id="piePagina">
        Derechos reservados &COPY; 2022 <address style="display: inline">Universidad Fidelitas</address> <address style="display: inline">Proyecto Programacion</address>
    </footer>
</html>