<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"> </header>
        <section class="contenido">
            <h2>Catalogo de Productos disponibles</h2>
            <p style='text-align: center'><a th:href="@{/producto/lista}">Agregar productos al Inventario</a></p>
        </section>
    </body>
    <footer th:replace="layout/plantilla :: footer" />
</html>