<!DOCTYPE html>

<html>
    <head>
        <title>Informacion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/Estilos.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <img class="imagenLogo" src="../static/imagenes/logoSad2.png" alt="logo de el supermercado" width="100" height="90"/>

                <a th:href="@{/}" class="nav-link logo">SAD</a>

                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/informacion/informacion}">Informacion</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/contacto/contacto}">Contacto</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="fomulario.html">Carrito</a></li>
                </ul>
            </nav>
        </header>

        <section id="contenido">
            <h2>Historia</h2>
            <br>
            <p>Nuestra historia inicia en el año 2022, debido a un proyecto de emprededurismo para la Universidad Fidelitas</p>
            <p>Donde decidimos formar este supermercado para la atencion de las necesidades de nuestros clientes. Utilizando las mejores herramientas tecnologicas disponibles.</p>
            <br>
            <h2>Mision</h2>
            <br>
            <p><i>Brindar un metodo de compra de productos simplificado y utilizando el metodo de compras en linea para la mayor comodidad del usuario desde su casa.</i></p>
            <br>
            <h2>Ubiquenos</h2>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.134264440107!2d-83.98318528831976!3d9.922774293239248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e124393f2563%3A0xf555c10cbd765f0d!2sProvincia%20de%20Cartago%2C%20Dulce%20Nombre%2C%20La%20Uni%C3%B3n!5e0!3m2!1ses-419!2scr!4v1657692232057!5m2!1ses-419!2scr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </body>
    <footer id="piePagina">
        Derechos reservados &COPY; 2022 <address style="display: inline">Universidad Fidelitas</address> <address style="display: inline">Proyecto Programacion</address>
    </footer>
</html>